# Ignore les fichiers générés par npm/yarn
node_modules/

# Ignore les fichiers .DS_Store spécifiques à macOS
.DS_Store

# Ignore les fichiers spécifiques à votre projet
index-DyzUv7kR.css
index-Md0EI4en.js
favicon-C49brna2.svg

# Ignore les fichiers .local
*.local

# Ignore les fichiers générés dans le répertoire dist/assets
dist/assets/index-DyzUv7kR.css
dist/assets/index-Md0EI4en.js
dist/assets/favicon-C49brna2.svg
